body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(#00f490,#00bbc9);
}

h1{
  
    font-family: 'Abril Fatface', cursive;
    

}
.jumbotron{
    margin-top: 40px;
}
.drop-shadow{
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.158);
}
.lead{
    color: white;
    font-size: 2.2rem;
}

